###
# Unity folders and files
###
/Demos and Experiments/[Aa]ssets/AssetStoreTools*
/Demos and Experiments/[Bb]uild/
/Demos and Experiments/[Ll]ibrary/
/Demos and Experiments/[Ll]ocal[Cc]ache/
/Demos and Experiments/[Oo]bj/
/Demos and Experiments/[Tt]emp/
/Demos and Experiments/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
Demos and Experiments/UserSettings/Layouts/default-2021.dwlt
Demos and Experiments/.claudiaideconfig
*.vsidx
